html, body {
	padding: 0;
}

.map, .ui, .hitbox, .loading-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ui {
	z-index: 100;
}

.player {
	position: fixed;
	top: calc(50vh - 20px);
	left: calc(50vw - 20px);
	background: red;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.player::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 10px;
	border: 10px solid transparent;
	border-bottom: 10px solid white;
}

.player.n  { transform: rotate(0deg);   }
.player.ne { transform: rotate(45deg);  }
.player.e  { transform: rotate(90deg);  }
.player.se { transform: rotate(135deg); }
.player.s  { transform: rotate(180deg); }
.player.sw { transform: rotate(225deg); }
.player.w  { transform: rotate(270deg); }
.player.nw { transform: rotate(305deg); }

.hitbox {
	z-index: 200;
	opacity: 0;
}

.loading-screen {
	display: flex;
	z-index: 500;
}

.loading-screen.hidden {
	display: none;
}

.loading-screen h1 {
	margin: auto;
}
