html, body {
	padding: 0;
}

.map, .ui, .hitbox, .loading-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.map {
	background: center / 3750px 2710px url("../assets/images/Layer-Test.png") no-repeat;
	background-position: 0px 0px;
}

.ui {
	z-index: 100;
}

.ui h1 {
	color: red;
}

.ui #cursor {
	position: fixed;
	top: calc(50vh - 2px);
	left: calc(50vw - 2px);
	width: 4px;
	height: 4px;
	background: red;
}

.hitbox {
	z-index: 200;
}

.loading-screen {
	display: flex;
	z-index: 500;
}

.loading-screen.hidden {
	display: none;
}

.loading-screen h1 {
	margin: auto;
}
