html, body {
	padding: 0;
	background: #69c95b;
}

.map, .ui, .hitbox, .loading-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ui {
	z-index: 100;
}

@keyframes playerWalking {
	from { background-image: url("../assets/images/player_animation_left.png"); }
	49.9% { background-image: url("../assets/images/player_animation_left.png"); }
	50% { background-image: url("../assets/images/player_animation_right.png"); }
	99.9% { background-image: url("../assets/images/player_animation_right.png"); }
	to { background-image: url("../assets/images/player_animation_left.png"); }
}

.player {
	position: fixed;
	top: calc(50vh - 30px);
	left: calc(50vw - 40px);
	background: center/contain url("../assets/images/player_static.png") no-repeat;
	width: 80px;
	height: 60px;
}

.player[data-walking="true"] {
	animation: .6s linear playerWalking infinite;
}

.player[data-giant="true"] {
	top: calc(50vh - 125px);
	left: calc(50vw - 150px);
	width: 300px;
	height: 250px;
}

.player.n  { transform: rotate(0deg);   }
.player.ne { transform: rotate(45deg);  }
.player.e  { transform: rotate(90deg);  }
.player.se { transform: rotate(135deg); }
.player.s  { transform: rotate(180deg); }
.player.sw { transform: rotate(225deg); }
.player.w  { transform: rotate(270deg); }
.player.nw { transform: rotate(305deg); }

.hitbox {
	z-index: 200;
	opacity: 0;
}

.loading-screen {
	display: flex;
	z-index: 500;
	background: white;
}

.loading-screen.hidden {
	display: none;
}

.loading-screen h1 {
	margin: auto;
}
