html, body {
  padding: 0;
  background: #171515;
  color: #FFFFFF;
}

.container {
  width: 930px;
  margin: 0 auto;
}

/*  HEADER  */

header img
{
  margin: 10px 30px;

}

header .images
{
display: flex;
justify-content: center;
}

.chase
{
  display: flex;
  flex-direction: column;
}

header .logo
{
  width : 300px;
}

header .perso
{
  width : 120px;
  transform: rotate(180deg);
}

header .chase
{
  margin-top: 60px;
}


header h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

/*  MAIN */


div.synopsis
{
  background: url("../assets/images/apocalypse.jpg") no-repeat;
  height: 300px;
  padding: 5px 20px;
  background-position: center center;
  image-rendering:  optimizeQuality;
}
div.synopsis h3
{
  font-size: 30px;
}
#synopsis_text
{
  font-size: 25px;
  line-height: 45px;
}
div.synopsis span
{
  text-transform: uppercase;
}

div.pictures
{
  width : 120px;
}

.gameplay
{
  position: absolute;
  font-size: 20px;
  line-height: 30px;
  width: 465px;
  right: 250px;
  top: 925px;
}
.gameplay-img img
{
width: 125px;
height: 125px;
}

.gameplay-img
{
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 125px 125px;
}

div.items
{
  display: flex;
  justify-content: center;

}

.goal
{
width: 465px;
font-size: 20px;
line-height: 30px;
text-align: center;
margin-left: 200px;
}

div.items img {
  width: 90px;
  margin: 0 30px;
}

div.infected{
  text-transform: uppercase;
  background-image: url("../assets/images/blood.png") ;
}

div a.playButton {
  margin: 0 auto;
}


a.playButton {
  display:block;
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: linear-gradient(180deg, #C00606, #8C0707, #630707,#2C2B2B);
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow:2px 2px 6px #C00606;
}

div.conclusion
{
background-image: url("../assets/images/map.jpg") ;
height: 260px;
}

div.conclusion h2{
  font-size: 18px;
}
