html, body
{
  padding: 0;
  background: #312E2E;
  color: #FFFFFF;
}

.container
{
  width: 930px;
  margin: 0 auto;
}

.items img
{
  width: 100px;
}

.playButton
{

}

.playButton a
{
  text-decoration: none;
  color: #FFFFFF;
  
}
