html, body {
  padding: 0;
  background: #171515;
  color: #FFFFFF;
}

.container {
  width: 930px;
  margin: 0 auto;
}

/*  HEADER  */

header img
{
  margin: 10px 30px;

}

header .images
{
display: flex;
justify-content: center;
}

.chase
{
  display: flex;
  flex-direction: column;
}

header .logo
{
  width : 300px;
}

header .perso
{
  width : 120px;
  transform: rotate(180deg);
}

header .chase
{
  margin-top: 60px;
}


header h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

/*  MAIN */


div.synopsis
{
  background-image: url("../assets/images/apocalypse.jpg") ;
  height: 120px;
  padding: 5px 20px;
}

div.synopsis span
{
  text-transform: uppercase;
}

p.gameplay img
{
  width : 120px;
}

div.items
{
  display: flex;
  justify-content: center;

}

div.items img {
  width: 90px;
  margin: 0 30px;
}

div.infected{
  text-transform: uppercase;
  background-image: url("../assets/images/blood.png") ;
}

div a.playButton {
  margin: 0 auto;
}


a.playButton {
  display:block;
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: linear-gradient(180deg, #C00606, #8C0707, #630707,#2C2B2B);
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow:2px 2px 6px #C00606;
}

div.conclusion
{
background-image: url("../assets/images/map.jpg") ;
height: 260px;
}

div.conclusion h2{
  font-size: 18px;
}
